.question {
    border: 5px solid rgb(37, 216, 223);
    padding: 0 3em 0 3em;
    height: 83%;
    border-radius: 25px;
}

.label-input {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    margin-top: 2em;
    font-size: 1.5em;
}

.label-inputs {
    margin-top: 2em;
    font-size: 1.5em;
}

.label-input input,
select,
.lab-input {
    background-color: rgba(255, 242, 242, 0.938);
    padding: 2em;
    border-bottom: 4px solid rgb(37, 216, 223);
    border-right: 4px solid rgb(37, 216, 223);
    margin: 1em;
    /* height: 1em; */
}

.label-inputs input {
    background-color: rgba(255, 242, 242, 0.938);
    padding: 2em 30em;
    border-bottom: 4px solid rgb(37, 216, 223);
    border-right: 4px solid rgb(37, 216, 223);
}

select {
    padding: 2em 20em;
    border-bottom: 4px solid rgb(37, 216, 223);
    border-right: 4px solid rgb(37, 216, 223);
    /* height: 1em; */
}

#Enregistrer {
    float: right;
    /* margin: 1em; */
    margin-top: 1em;
    background-color: rgb(37, 216, 223);
    padding: 1em;
    border-radius: 10px;
    width: 10%;
    font-size: 1em;
    font-weight: bold;
    color: white;
}

select option {
    font-size: 1em;
}

.nombre {
    font-size: 1.5em;
}


/* *************************Paramatre des reponses*************************************** */

.repText {
    background-color: rgba(255, 242, 242, 0.938);
    padding: 2em;
    border-bottom: 4px solid rgb(37, 216, 223);
    border-right: 4px solid rgb(37, 216, 223);
    margin: 1em;
    width: 70%;
    height: 1em;
}

.repCheck {
    width: 30px;
    height: 30px;
    /* margin-top: 3em; */
}

.repRadio {
    width: 30px;
    height: 30px;
}

.reponse {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
}

.ajout {
    width: 45px;
    height: 45px;
    /* margin-top: 1em; */
}

.ajout1 {
    width: 45px;
    height: 45px;
    margin-top: 1em;
}

.CreeQuizz {
    color: rgb(37, 216, 223);
    font-weight: bold;
    text-align: center;
}