* {
    box-sizing: border-box;
}

body {
    background-image: url('../img/img-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    /* overflow: hidden; */
}

main {
    /* background-color: rgb(185, 115, 250); */
    /* background-image: url(/home/souleymane/Documents/TPjavascript/validation/lion.jpg); */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 74vh;
    margin: 0%;
    font-family: sans-serif;
    /* background-size: cover; */
    /* background-size: cover; */
}

.conteneur {
    background-color: white;
    /* border-radius: 1em; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 35em;
    max-width: 100%;
    overflow: hidden;
}

.header {
    background-color: #0eced4;
    padding: 20px 40px;
    border-bottom: 1px solid #901717;
    display: flex;
    justify-content: space-between;
}

.header h2 {
    margin: 0;
    /* text-align: center; */
    color: white;
}

.form {
    padding: 30px 40px;
    height: 30vh;
}

#form {
    height: auto;
    padding-bottom: 2em;
}

.form-controle {
    margin-bottom: 9px;
    padding-bottom: 20px;
    position: relative;
}

.form-controle label {
    display: inline-block;
    margin-bottom: 8px;
}

.form-controle input {
    /* border: 3px solid #f0f0f0; */
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-family: inherit;
    /* border: hidden; */
}

.form-controle i {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

.form-controle small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form button {
    background-color: #0eced4;
    /* border: 2px solid #c83510; */
    color: white;
    width: 30%;
    /* display: block; */
    padding: 10px;
    font-size: 16px;
    font-family: inherit;
    border-radius: 4px;
    cursor: pointer;
}

.form-controle.succes input {
    border-color: rgb(16, 184, 24);
}

.form-controle.error input {
    border-color: rgb(216, 19, 52);
    visibility: visible;
}

.form-controle.error small {
    visibility: visible;
    color: red;
}

.form-controle.error i.fa-exclamation-circle {
    color: red;
    visibility: visible;
}

.form-controle.succes i.fa-check-circle {
    color: green;
    visibility: visible;
}


/* ************************************ */

.form-controle i.fa-solid.fa-user {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: visible;
}


/* *********************************************** */

.form-controle i.fa-solid.fa-lock {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: visible;
}

#bouton {
    margin: 1em;
}

input {
    background-color: rgb(245, 239, 239);
}


/* Partour*********************** */

.partout {
    background-color: black;
    /* color: white; */
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    /* padding: 0em 1em; */
    /* margin-top: 0; */
    /* margin: 0; */
}

.partout h1 {
    margin-left: 32%;
}

.logo {
    margin-left: 2em;
}